.m1{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m2{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 280px;
		}
		.m3{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 210px;
		}
		.m4{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 140px;
		}
		.m5{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 70px;
		}
		.m6{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}
		.m7{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m8{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}
		.m9{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m10{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}
		.m11{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m12{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}
		.m13{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m14{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}
		.m15{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 350px;
		}
		.m16{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 280px;
		}
		.m17{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 210px;
		}
		.m18{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 140px;
		}
		.m19{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
			margin-left: 70px;
		}
		.m20{
			height: 50px;
			width: 140px;
			background-color: lightblue;
			margin-top: 20px;
		}